/* Icons */
.ceph-icon {
  // background: url('../../assets/favicon.png');
}

.prometheus-icon {
  // background: url('../../assets/favicon.png');
}

.custom-icon {
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
  padding: 10px;
}
